html,
body,
.intro {
  height: 100%;
  overflow-x: hidden;
}
.background{
    background-color: rgb(13, 19, 25);
    height: 100%;
}
.content{
    margin-left: 50px;
}
.btn-color{
    background: none;
    border: solid 2px white;
}
.btn-color:hover{
    background-color: aliceblue;
    color: black;
    cursor: pointer;
    border:solid 2px aliceblue;
}
.img-lbl{
    margin-left: 11px;
}
.select{
    border: none;
    border-bottom: solid 1px orange;
    background: none;
    color: white;
    height: 40px;
    width: 100%;
    outline: none;
}
option{
    color: white;
    background-color: #0d1319;
    outline: none;
}
.sub{
    width: 50%;
}
.inventory-table{
    margin-left: 15.5%;
    
}
body {
    font-family: 'lato', sans-serif;
}
.container {
    max-width: 1000px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;

}
h2 {
    font-size: 26px;
    margin-bottom: 20px;
    color: white;
    display: inline;
}
.responsive-table li {
    border-radius: 3px;
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.responsive-table .table-header {
    background-color: #95a5a6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
.responsive-table .table-row {
    background-color: #fff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.responsive-table .col-1 {
    flex-basis: 10%;
}
.responsive-table .col-2 {
    flex-basis: 40%;
}
.responsive-table .col-3 {
    flex-basis: 25%;
}
.responsive-table .col-4 {
    flex-basis: 25%;
}
.responsive-table .col-5 {
    margin-left: 5%;
    color: white;
}
@media all and (max-width: 767px) {
    .responsive-table .table-header {
        display: none;
   }
    .responsive-table li {
        display: block;
   }
    .responsive-table .col {
        flex-basis: 100%;
   }
    .responsive-table .col {
        display: flex;
        padding: 10px 0;
   }
    .responsive-table .col:before {
        color: #6c7a89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
   }
}
#data tr {
    display: none;
  }
.pagination li{
    padding: 0 10px;
    border: solid 1px white;
    border-radius: 2px;
}
.pagination li a{
    text-decoration: none;
    color: white;
}
.pagination .active{
    background: #ff6700;
}
ul.pagination{
    float: right;
}
.actionbtn{
    background: none;
    border: none;
    color: white;
    margin: 0px 5px;
}
.actionbtn:hover{
    color: orange;
}
.search{
    display: inline;
    float: right;
}
.search input{
    background: none;
    border: solid 1px white;
    border-radius: 2px;
    padding-left: 5px;
    color: white;
}
.search button{
    width: 30px;
    border-radius: 2px;
    background-color: #ff6700;
    border: none;
    color: white;
}
.header{
    border-bottom: 1px solid grey;
}
.nav-link span{
    padding-right: 15px;
}
.nav-link:hover{
    cursor: pointer;
}
