html,
body,
.intro {
  height: 100%;
  overflow-x: hidden;
}
.background{
    background-color: rgb(13, 19, 25);
    height: 100%;
}
.content{
    margin-left: 50px;
}
.btn-color{
    background: none;
    border: solid 2px white;
}
.btn-color:hover{
    background-color: aliceblue;
    color: black;
    cursor: pointer;
    border:solid 2px aliceblue;
}
.img-lbl{
    margin-left: 11px;
}
.select{
    border: none;
    border-bottom: solid 1px orange;
    background: none;
    color: white;
    height: 40px;
    width: 100%;
    outline: none;
}
option{
    color: white;
    background-color: #0d1319;
    outline: none;
}
.sub{
    width: 50%;
}