html,
body,
.intro {
  height: 100%;
}
.background{
    background-color: rgb(13, 19, 25);
    height: 100%;
}
.content{
    margin-left: 50px;
}
.btn-color{
    background: none;
    border: solid 2px white;
}
.btn-color:hover{
    background-color: aliceblue;
    color: black;
    cursor: pointer;
    border:solid 2px aliceblue;
}
.img-lbl{
    margin-left: 11px;
}